Repository uqbar-project/wollok-lsp-ide: changes, and which Codecov flags are due for each by the changed paths.
All: Debugger, Extension Client, LSP Server

rn sanitezed -> sanitized
  packages/server/src/utils/text-documents.ts
Due: LSP Server

isWorkspaceURI
  packages/server/src/server.ts
  packages/server/src/utils/text-documents.ts
Due: LSP Server

refactor tests
  packages/debug-adapter/src/test/debug-adapter.test.ts
  packages/shared/test/test-utils.ts
Due: Debugger

fix use wollok path for packages
  packages/debug-adapter/src/debug-session.ts
Due: Debugger

Fix #210 (#211)
  codecov.yml
Due: none

First step - PoC
  packages/client/src/extension.ts
  packages/client/src/notebook.ts
Due: Extension Client

PoC - add contributor
  package.json
Due: none

Fix reduce error
  packages/client/src/highlighter/tokenProvider.ts
Due: Extension Client

Fix #215 - silent errors in e2e tests
  packages/server/src/functionalities/autocomplete/node-completion.ts
Due: LSP Server

debug lang files - override sources approach
  packages/debug-adapter/src/debug-session.ts
  packages/debug-adapter/src/session-factory.ts
  packages/debug-adapter/src/test/start-debug-session.ts
Due: Debugger

catch package not found on breakpoints
  packages/debug-adapter/src/debug-session.ts
Due: Debugger

use URIs instead of paths
  packages/debug-adapter/src/debug-session.ts
  packages/debug-adapter/src/target-finders.ts
  packages/debug-adapter/src/utils/path-converters.ts
Due: Debugger

using external uris because vscode ones cant be imported in tests
  packages/debug-adapter/package.json
  packages/debug-adapter/src/debug-session.ts
  packages/debug-adapter/src/target-finders.ts
  packages/debug-adapter/src/test/start-debug-session.ts
  packages/debug-adapter/src/utils/uri.ts
  yarn.lock
Due: Debugger

Revert "refactor tests"
  packages/debug-adapter/src/test/debug-adapter.test.ts
  packages/shared/test/test-utils.ts
Due: Debugger

fix windows tests
  packages/debug-adapter/src/debug-session.ts
  packages/debug-adapter/src/target-finders.ts
  packages/debug-adapter/src/test/start-debug-session.ts
  packages/debug-adapter/src/utils/uri.ts
Due: Debugger

dont add / on posix absolute paths
  packages/debug-adapter/src/test/start-debug-session.ts
Due: Debugger

Bye COMMAND_RUN_GAME
  packages/client/src/commands.ts
  packages/client/src/messages.ts
  packages/server/src/functionalities/code-lens.ts
  packages/server/src/functionalities/reporter.ts
  packages/shared/definitions.ts
Due: Extension Client, LSP Server

Fixing tests
  packages/client/src/commands.ts
  packages/client/src/test/code-lens.test.ts
  packages/client/src/test/commands.test.ts
Due: Extension Client

Bye command for game (#219)
  packages/client/src/commands.ts
  packages/client/src/messages.ts
  packages/client/src/test/code-lens.test.ts
  packages/client/src/test/commands.test.ts
  packages/server/src/functionalities/code-lens.ts
  packages/server/src/functionalities/reporter.ts
  packages/shared/definitions.ts
Due: Extension Client, LSP Server

file utils
  packages/debug-adapter/src/debug-session.ts
  packages/debug-adapter/src/utils/files.ts
Due: Debugger

less hacky way of mocking workspace
  packages/debug-adapter/src/test/start-debug-session.ts
  packages/debug-adapter/src/utils/uri.ts
Due: Debugger

skip debugger tests
  packages/debug-adapter/src/test/debug-adapter.test.ts
Due: Debugger

esmodules in lsp-ide
  packages/debug-adapter/src/target-finders.ts
  packages/debug-adapter/src/test/target-finder.test.ts
  packages/debug-adapter/src/utils/uri.ts
  tsconfig.json
Due: Debugger

Fix CI error on highlighter (#214)
  packages/client/src/highlighter/tokenProvider.ts
  packages/server/src/functionalities/autocomplete/node-completion.ts
Due: Extension Client, LSP Server

Add changelog
  CHANGELOG.md
Due: none

Fix #220
  packages/server/src/functionalities/code-lens.ts
Due: LSP Server

Add e2e test for mixin code lens
  packages/client/src/test/code-lens.test.ts
  packages/client/testFixture/pepita.wlk
Due: Extension Client

Remove duplicate test
  packages/client/src/test/code-lens.test.ts
Due: Extension Client

Fix e2e tests
  packages/client/src/test/code-lens.test.ts
  packages/client/src/test/symbols.test.ts
Due: Extension Client

Fix #222
  packages/server/src/functionalities/autocomplete/autocomplete.ts
  packages/server/src/functionalities/code-actions.ts
  packages/server/src/server.ts
Due: LSP Server

Fix #222 (#223)
  packages/server/src/functionalities/autocomplete/autocomplete.ts
  packages/server/src/functionalities/code-actions.ts
  packages/server/src/server.ts
Due: LSP Server

Fix #220 - agregar code lens a los mixins (#221)
  packages/client/src/test/code-lens.test.ts
  packages/client/src/test/symbols.test.ts
  packages/client/testFixture/pepita.wlk
  packages/server/src/functionalities/code-lens.ts
Due: Extension Client, LSP Server

Preparing CHANGELOG for 0.5.2 release
  CHANGELOG.md
  package.json
Due: none

Adding CLI version to the CHANGELOG
  CHANGELOG.md
Due: none

Preparing release 0.5.3
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Fix version in changelog
  CHANGELOG.md
Due: none

Fix #226
  packages/client/src/highlighter/tokenProvider.ts
Due: Extension Client

Simpler solution
  packages/client/src/highlighter/tokenProvider.ts
Due: Extension Client

Fix splitting based on Win/Linux/Mac
  packages/client/src/highlighter/tokenProvider.ts
Due: Extension Client

Path conditions:
  Debugger: any of: packages/debug-adapter/
  Extension Client: any of: packages/client/
  LSP Server: any of: packages/server/
