Repository uqbar-project/wollok-lsp-ide: changes, and which Codecov flags are due for each by the changed paths.
All: Debugger, Extension Client, LSP Server

Catch errors in sync handlers
  packages/server/src/functionalities/code-actions.ts
  packages/server/src/linter.ts
  packages/server/src/server.ts
  packages/server/src/utils/vm/environment.ts
Due: LSP Server

levantando el diagrama dinamico
  packages/debug-adapter/package.json
  packages/debug-adapter/src/debug-session.ts
  packages/debug-adapter/src/dynamic-diagram.ts
  public/diagram/diagram-index.js
  public/diagram/diagram.css
  public/diagram/favicon.ico
  public/diagram/fonts/inter-v12-latin-regular.woff2
  public/diagram/images/dark-mode.png
  public/diagram/images/pin-objects.png
  public/diagram/index.html
  public/diagram/lib/cytoscape.min.js
  public/diagram/lib/socket.io.esm.min.js
  public/diagram/lib/socket.io.esm.min.js.map
  yarn.lock
Due: Debugger

Fix #226 (#230)
  packages/client/src/highlighter/tokenProvider.ts
Due: Extension Client

Catch errors in sync handlers (#232)
  packages/server/src/functionalities/code-actions.ts
  packages/server/src/linter.ts
  packages/server/src/server.ts
  packages/server/src/utils/vm/environment.ts
Due: LSP Server

Update wollok-ts v4.2.4
  package.json
Due: none

Fix test
  packages/client/src/test/definition.test.ts
  yarn.lock
Due: Extension Client

Fixing more tests
  packages/server/src/test/autocomplete.test.ts
Due: LSP Server

Prepare v0.5.4
  CHANGELOG.md
  package.json
Due: none

Fix quick-fixes tests
  packages/client/src/test/code-actions.test.ts
Due: Extension Client

Release v0.5.5
  package.json
  yarn.lock
Due: none

ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION on CI
  .github/workflows/node.js.yml
Due: none

Trying runing on windows
  .github/workflows/node.js.yml
Due: none

Bye tst only
  packages/client/src/test/code-actions.test.ts
Due: Extension Client

Skip tests
  .github/workflows/node.js.yml
Due: none

Fix CI (#239) - Skip coverage
  .github/workflows/node.js.yml
  packages/client/src/test/code-actions.test.ts
Due: Extension Client

Release v0.5.5
  CHANGELOG.md
Due: none

Path conditions:
  Debugger: any of: packages/debug-adapter/
  Extension Client: any of: packages/client/
  LSP Server: any of: packages/server/
